[submodule "3rdParty/fakeit"]
	path = 3rdParty/fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/dunnart"]
	path = 3rdParty/dunnart
	url = https://github.com/insooth/dunnart.git
	branch = cds
