[submodule "3rdParty/fakeit"]
	path = 3rdParty/fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/nodeeditor"]
	path = 3rdParty/nodeeditor
	url = https://github.com/paceholder/nodeeditor
[submodule "3rdParty/rapidjson"]
	path = 3rdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdParty/qtCannelloniCanBus"]
	path = 3rdParty/qtCannelloniCanBus
	url = https://github.com/tuvok/qtCannelloniCanBus.git
[submodule "3rdParty/readerwriterqueue"]
	path = 3rdParty/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
