sudo: required
language: cpp
dist: trusty
group: edge

notifications:
  email: false

services:
  docker

# Blacklist
branches:
  except:
    - gh-pages

before_install:
  - env
  - echo refs/heads/$TRAVIS_BRANCH~ refs/heads/$TRAVIS_BRANCH refs/heads/$TRAVIS_BRANCH | ./.trigger_appveyor.rb || true
  - docker pull bartekt/can_dev_base_image
  - export ci_env=`bash <(curl -s https://codecov.io/env)`

script:
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Debug 
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Debug
  - ./.travis.sh
  - export CC=gcc-6 CXX=g++-6 CMAKE_BUILD_TYPE=Debug WITH_COVERAGE=ON
  - ./.travis.sh

# Generate and deploy documentation
after_success:
  - cd $TRAVIS_BUILD_DIR
  - chmod +x generateDocumentationAndDeploy.sh
  - docker run
    $ci_env -e DOXYFILE -e GH_REPO_NAME -e GH_REPO_REF -e GH_REPO_TOKEN -e TRAVIS_BUILD_NUMBER
    -v `pwd`:/root/sources bartekt/can_dev_base_image /bin/bash
    -c "cd /root/sources && ./generateDocumentationAndDeploy.sh"
