sudo: required
language: cpp
dist: trusty

notifications:
  email: false

services:
  docker

before_install:
  - echo "PR $TRAVIS_PULL_REQUEST"
  - if [ $TRAVIS_PULL_REQUEST == "false" ]; then echo HEAD~ HEAD refs/heads/$TRAVIS_BRANCH | ./.trigger_appveyor.rb || true; fi
  - docker pull bartekt/can_dev_base_image
  - ci_env=`bash <(curl -s https://codecov.io/env)`

script:
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=gcc-53 CXX=g++-53 CMAKE_BUILD_TYPE=Debug 
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Release
  - ./.travis.sh
  - export CC=clang-3.5 CXX=clang++-3.5 CMAKE_BUILD_TYPE=Debug
  - ./.travis.sh
  - export CC=gcc-6 CXX=g++-6 CMAKE_BUILD_TYPE=Debug WITH_COVERAGE=ON
  - ./.travis.sh
    
