QWidget
{
    color: #cccccc;
    background-color: #1d1d1d;
    selection-background-color: #666666;
    selection-color: #cccccc;
}

QWidget#centralWidget {
    background-color: #1d1d1d;
}

QMenuBar::item {
    spacing: 3px;
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background: #666666;
}

QMenuBar::item:pressed {
    background: #868686;
}

QMenu {
    background-color: "#1d1d1d";
}


QMenu::item:disabled {
    color: #888888;
}

QTabBar {
    background: #1d1d1d;
}

QTabBar::close-button {
    image: url(:/images/files/images/dark/CANbus_icon_Close_tab.svg);
}

QTabBar::close-button:selected {
    image: url(:/images/files/images/dark/CANbus_icon_Close_tab_selected.svg);
}

QTabBar::tab {
    color: #a6a6a6;
    font-weight: bold;
    background: #3a3a3a;
    margin-right: 5px;
    margin-top: 5px;
}

QTabBar::tab:selected {
    color: #ffffff;
    font-weight: bold;
    background: #616161;
}

QMdiSubWindow {
    background: #616161;
}

DragWidget {
    background: #282828;
}

QTableView QTableCornerButton::section {
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

QTableView::item {
    background: #1d1d1d;
}

QTableView::item:selected {
    background: #3f3f3f;
}

QTableView {
    background: #616161;
    border : 1px solid #8f8f8f;
    gridline-color: #8f8f8f;
    color: #e1e1e1;
}

QHeaderView {
    background-color: #616161;
}

QHeaderView::section {
    background-color: #3a3a3a;
    border : 1px solid #8f8f8f;
    border-left: 0px;
    border-top: 0px;
    color: #e1e1e1
}

QCheckBox {
    color: #282828;
    spacing: 0px;
}

QCheckBox::indicator {
    width: 28px;
    height: 28px;
}

QPushButton[flat="true"] {
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: #616161;
}

QPushButton[flat="true"]:pressed {
    border: 2px solid #adadad;
    background-color: #3a3a3a;
}

QPushButton[flat="true"]:checked {
    border: 2px solid #adadad;
    background-color: #3a3a3a;
}

QPushButton#pbStartNew, #pbStartOpen, #close {
    border: 0px;
}

QWidget#CanRawSenderPrivate, #CanRawViewPrivate, #CanRawFilterPrivate, #CanSignalDataPrivate, #CanSignalSenderPrivate {
    background-color: #616161;
}

QToolButton#toolSwitch {
    image: url(:/images/files/images/light/CANbus_icon_Switch_dark.svg);
}

QLineEdit#searchLine {
    background-color: #3a3a3a;
    border : 1px solid #adadad;
    padding: 2px;
}

QCheckBox[type=sectionHeader] {
    spacing: 43px;
    color: #767676;
    background: #282828;
}

QCheckBox[type=sectionHeader]::indicator {
    padding-top: 4px;
    width: 16px;
    height: 16px;
    background: #282828;
}

QCheckBox[type=sectionHeader]::indicator:checked {
    image: url(:/images/files/images/dark/Angle-down-01.svg);
}

QCheckBox[type=sectionHeader]::indicator:unchecked {
    image: url(:/images/files/images/dark/Angle-up-01.svg);
}

QWidget[type=sectionWidget] {
    background: #282828;
}

QWidget#startScreen {
    image: url(:/images/files/images/dark/start_screen.png);
}

QPushButton[type="recentProjectName"], QWidget#recentContainer {
    background: #3a3a3a;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
}

QPushButton[type="recentProjectFile"] {
    background: #3a3a3a;
    color: #1492ca;
    text-align: left;
    font-size: 12px;
}

QPushButton:pressed[type="recentProjectName"], QPushButton:pressed[type="recentProjectFile"], #pbStartNew, #pbStartOpen {
    border: 0px;
    background: #3a3a3a;
}

QPushButton[type="PropertyFieldPath"] {
    background: #1d1d1d;
    color: #cccccc;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 3px;
}

QLabel[type="aboutLabel"] {
    background: #3a3a3a;
    color: #ffffff;
    font-size: 12px;
    font-family: "Arial";
}

#PropertyEditorDialog {
    background: #616161;
}

#PropertyEditorDialog QSizeGrip {
    width: 6px;
    height: 6px;
    background: #616161;
}

#aboutDialog{
    image: url(:/images/files/images/dark/about_screen.png);
}

QPushButton[type="nlmItem"] {
    background: #1d1d1d;
}

QPushButton[type="nlmItem"]:disabled {
    color: #616161;
}

QLineEdit[type="nlmItem"]:disabled {
    color: #616161;
}

QCheckBox::indicator:unchecked {
    image: url(:/images/files/images/dark/CANbus_icon_CheckBoxOff.svg);
}

QCheckBox::indicator:checked {
    image: url(:/images/files/images/dark/CANbus_icon_CheckBoxOn.svg);
}

QCheckBox::indicator:unchecked:disabled {
    image: url(:/images/files/images/dark/CANbus_icon_CheckBoxOff_disabled.svg);
}

QCheckBox::indicator:checked:disabled {
    image: url(:/images/files/images/dark/CANbus_icon_CheckBoxOn_disabled.svg);
}

QLabel[type="policyLabel"] {
    background: #616161;
}

QComboBox {
    background: #1d1d1d;
    border: 0;
}

QComboBox::drop-down {
    background: #1d1d1d;
}

QComboBox::down-arrow {
    background: #1d1d1d;
    width: 18px;
    height: 18px;
    image: url(:/images/files/images/dark/Angle-down-01.svg);
    padding-top: 3px;
    padding-right: 8px;
}

QComboBox::down-arrow:on {
    image: url(:/images/files/images/dark/Angle-up-01.svg);
}

QComboBox[type="listItem"]::down-arrow {
    background: #1d1d1d;
    width: 0px;
    height: 0px;
}

QComboBox[type="listItem"]::down-arrow:on {
    background: #1d1d1d;
    width: 0px;
    height: 0px;
}

QTableView::item:selected {
    background: #1d1d1d;
}
