QWidget
{
    color: #1d1d1d;
    background-color: #ffffff;
    selection-background-color: #666666;
    selection-color: #cccccc;
}

QWidget#centralWidget {
    background-color: #d3d3d3;
}

QMenuBar {
    background-color: #1d1d1d;
    color: #cccccc
}

QMenuBar::item {
    spacing: 3px;
    padding: 1px 4px;
    background: transparent;
    border-radius: 4px;
}

QMenuBar::item:selected {
    background: #666666;
}

QMenuBar::item:pressed {
    background: #868686;
}

QMenu {
    background-color: #ffffff;
}

QMenu::item:disabled {
    color: #888888;
}

QTabBar {
    background: #d3d3d3;
}

QTabBar::close-button {
    image: url(:/images/files/images/light/CANbus_icon_Close_tab.svg);
}

QTabBar::close-button:selected {
    image: url(:/images/files/images/light/CANbus_icon_Close_tab_selected.svg);
}

QTabBar::tab {
    color: #a6a6a6;
    font-weight: bold;
    background: #f0f0f0;
    margin-right: 5px;
    margin-top: 5px;
}

QTabBar::tab:selected {
    color: #767676;
    font-weight: bold;
    background: #ffffff;
}

DragWidget {
    background: #dcdcdc;
}

QTableView#tv QTableCornerButton::section {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
}

QTableView#rxTv QTableCornerButton::section {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
}

QTableView#txTv QTableCornerButton::section {
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
}

QTableView#tv, QTableView#txTv, QTableView#rxTv {
    background: #ffffff;
    gridline-color: #d3d3d3;
    color: #626262
}

QTableView#tv::item, QTableView#txTv::item, QTableView#rxTv::item{
    background: #ffffff;
    border : 0px;
    border-color: #ff0000;
}

QTableView#tableView {
    selection-background-color: #fafafa;
    selection-color: #282828;
}

QLineEdit {
    color: #282828;
}

QHeaderView::section {
    background-color: #f7f7f7;
    border : 1px solid #d3d3d3;
    border-left : 0px;
    border-top : 0px;
    color: #626262
}


QCheckBox {
    background: #cccccc;
    color: #282828;
    spacing: 0px;
}

QCheckBox::indicator {
    width: 28px;
    height: 28px;
}

QPushButton[flat="true"] {
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #a6a6a6;
}

QPushButton[flat="true"]:pressed {
    border: 2px solid #adadad;
    background-color: #eeeeee;
    color: #a6a6a6;
}

QPushButton[flat="true"]:checked {
    border: 2px solid #adadad;
    background-color: #eeeeee;
}

QToolButton#toolSwitch {
    image: url(:/images/files/images/light/CANbus_icon_Switch.svg);
}

QLineEdit#searchLine {
    border : 1px solid #adadad;
    padding: 2px;
}

QCheckBox[type=sectionHeader] {
    background: #dcdcdc;
    spacing: 43px;
    color: #767676;
}

QCheckBox[type=sectionHeader]::indicator {
    background: #dcdcdc;
    padding-top: 4px;
    width: 16px;
    height: 16px;
}

QCheckBox[type=sectionHeader]::indicator:checked {
    background: #dcdcdc;
    image: url(:/images/files/images/light/Angle-down-01.svg);
}

QCheckBox[type=sectionHeader]::indicator:unchecked {
    background: #dcdcdc;
    image: url(:/images/files/images/light/Angle-up-01.svg);
}

QWidget[type=sectionWidget] {
    background: #dcdcdc;
}

QLabel[type="IconLabel"] {
    background: #dcdcdc;
}

QWidget#startScreen {
    background-color: #d3d3d3;
    image: url(:/images/files/images/light/start_screen.png);
}

QWidget#startScreenWidget {
    background-color: #d3d3d3;
}

QPushButton[type="recentProjectName"] {
    background: #ffffff;
    color: #0d6188;
    text-align: left;
    font-size: 14px;
}

QPushButton[type="recentProjectFile"] {
    background: #ffffff;
    color: #919191;
    text-align: left;
    font-size: 12px;
}

QPushButton:pressed[type="recentProjectFile"] {
    border: 0px;
    background: #ffffff;
    color: #919191;
}

QPushButton:pressed[type="recentProjectName"] {
    border: 0px;
    background: #ffffff;
    color: #0d6188;
}

QPushButton:pressed#pbStartNew, #pbStartOpen, #close {
    border: 0px;
}

QPushButton[type="PropertyFieldPath"] {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 3px;
}

QLabel[type="aboutLabel"] {
    background: #ffffff;
    color: #282828;
    font-size: 12px;
    font-family: "Arial";
}

#PropertyEditorDialog QSizeGrip {
    width: 6px;
    height: 6px;
    background: #ffffff;
}

#aboutDialog{
    image: url(:/images/files/images/light/about_screen.png);
}

QPushButton[type="nlmItem"]:disabled {
    color: #cdcdcd;
}

QLineEdit[type="nlmItem"] {
    border: 0;
}

QLineEdit[type="nlmItem"]:disabled {
    color: #cdcdcd;
}

QCheckBox::indicator:unchecked {
    image: url(:/images/files/images/light/CANbus_icon_CheckBoxOff.svg);
    background-color: #ffffff;
}

QCheckBox::indicator:checked {
    image: url(:/images/files/images/light/CANbus_icon_CheckBoxOn.svg);
    background-color: #ffffff;
}

QCheckBox::indicator:unchecked:disabled {
    image: url(:/images/files/images/light/CANbus_icon_CheckBoxOff_disabled.svg);
    background-color: #ffffff;
}

QCheckBox::indicator:checked:disabled {
    image: url(:/images/files/images/light/CANbus_icon_CheckBoxOn_disabled.svg);
    background-color: #ffffff;
}

QComboBox {
    border: 0;
}

QComboBox::drop-down {
    background: white;
}

QComboBox::down-arrow {
    background: white;
    width: 18px;
    height: 18px;
    image: url(:/images/files/images/light/Angle-down-01.svg);
    padding-top: 3px;
    padding-right: 8px;
}

QComboBox::down-arrow:on {
    image: url(:/images/files/images/light/Angle-up-01.svg);
}

QComboBox[type="listItem"]::down-arrow {
    background: white;
    width: 0px;
    height: 0px;
}

QComboBox[type="listItem"]::down-arrow:on {
    background: white;
    width: 0px;
    height: 0px;
}

QTableView::item:selected {
    background: #ffffff;
    color: #626262;
}
